@use "variables" as *;
@use "mixins" as *;

body {
  @include fbx(column, $justify: center, $align: center);
  .logo {
    p {
      text-align: center;
    }
  }
  .calculator {
    @include fbx(column, $gap: 1.5rem);
    flex-grow: 1;
    @include mq(tablet) {
      max-width: 30rem;
      flex-grow: 0;
      border-radius: 25px;
    }
    @include mq(d-small) {
      max-width: 60rem;
      margin: 3rem;
      flex-direction: row;
    }
    #form {
      .tip-selector {
        .tip-selector__grid {
          display: grid;
          grid-template-columns: repeat(2, minmax(0, 1fr));
          grid-template-rows: repeat(3, minmax(0, 1fr));
          gap: $fs-inputs;
          @include mq(tablet) {
            grid-template-columns: repeat(3, minmax(0, 1fr));
            grid-template-rows: repeat(2, minmax(0, 1fr));
          }
        }
      }
    }
  }
  .display {
    width: 100%;
    @include fbx(column);
    @include mq(d-small) {
      align-self: stretch;
    }
    .display__wrapper {
      width: 100%;
      @include fbx(row);
    }
    button {
      margin-top: auto;
    }
  }
}
