$media: (
  sm: 23rem,
  // md: 30rem,
  // lg: 48rem,
  // xl: 64rem,
  // 2xl: 72rem,
  // 3xl: 90rem,,,
);

@mixin mq($breakpoint) {
  @each $breakpoints, $size in $media {
    @if $breakpoint==$breakpoints {
      @media screen and (min-width: $size) {
        @content;
      }
    }
  }
}

@mixin fbx(
  $direction: row,
  $justify: flex-start,
  $align: flex-start,
  $gap: none
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}
