$media: (
  tablet: 30rem,
  d-small: 48rem,
);

@mixin mq($breakpoint) {
  @each $breakpoints, $size in $media {
    @if $breakpoint==$breakpoints {
      @media screen and (min-width: $size) {
        @content;
      }
    }
  }
}

@mixin fbx($direction: row, $justify: flex-start, $align: flex-start, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}
