@use "variables" as *;

.flow > * + * {
  margin-top: 2rem;
}

.wrapper {
  padding: 2rem;
  border-radius: 25px;
}

.btn {
  padding: 0.5rem;
  font-size: $fs-inputs;
  outline: none;
  border: none;
  width: 100%;
}
