@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

body {
  background: hsl(185, 41%, 84%);
  margin: 0;
  font-family: "Space Mono", monospace;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

h2,
h5,
p {
  margin: 0;
}

input {
  outline: none;
  border: none;
  width: 100%;
  border-radius: 5px;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
}
body .logo p {
  text-align: center;
}
body .calculator {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.5rem;
  flex-grow: 1;
}
@media screen and (min-width: 30rem) {
  body .calculator {
    max-width: 30rem;
    flex-grow: 0;
    border-radius: 25px;
  }
}
@media screen and (min-width: 48rem) {
  body .calculator {
    max-width: 60rem;
    margin: 3rem;
    flex-direction: row;
  }
}
body .calculator #form .tip-selector .tip-selector__grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(3, minmax(0, 1fr));
  gap: clamp(1rem, 0.6rem + 1vw, 1.5rem);
}
@media screen and (min-width: 30rem) {
  body .calculator #form .tip-selector .tip-selector__grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr));
  }
}
body .display {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0;
}
@media screen and (min-width: 48rem) {
  body .display {
    align-self: stretch;
  }
}
body .display .display__wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0;
}
body .display button {
  margin-top: auto;
}

.flow > * + * {
  margin-top: clamp(0.5rem, 0.6rem + 1vw, 1rem);
}

.wrapper {
  padding: calc(clamp(0.5rem, 0.6rem + 1vw, 1rem) * 1.5);
  border-radius: 25px;
}

.btn {
  padding: 1rem;
  font-size: clamp(1rem, 0.6rem + 1vw, 1.5rem);
  outline: none;
  border: none;
  width: 100%;
  border-radius: 5px;
}

.logo {
  padding: 1rem;
}
.logo p {
  margin: 0;
  color: hsl(183, 100%, 15%);
  font-weight: 700;
  letter-spacing: 0.75rem;
  font-size: clamp(1rem, 1rem + 0.75vw, 2rem);
}

.calculator {
  background: white;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.calculator #form {
  color: hsl(186, 14%, 43%);
  font-weight: 600;
}
.calculator #form fieldset {
  position: relative;
}
.calculator #form fieldset label {
  font-size: clamp(0.5rem, 0.6rem + 1vw, 1rem);
}
.calculator #form fieldset:has(> #bill)::after {
  content: url("../images/icon-dollar.svg");
}
.calculator #form fieldset:has(> #people)::after {
  content: url("../images/icon-person.svg");
}
.calculator #form fieldset::after {
  position: absolute;
  bottom: calc(clamp(1rem, 0.6rem + 1vw, 1.5rem) / 4);
  left: calc(clamp(1rem, 0.6rem + 1vw, 1.5rem) / 2);
}
.calculator #form fieldset input[type=number] {
  background: hsl(189, 41%, 97%);
  font-size: clamp(1rem, 0.6rem + 1vw, 1.5rem);
  color: hsl(183, 100%, 15%);
  padding: calc(clamp(1rem, 0.6rem + 1vw, 1.5rem) / 2) calc(clamp(1rem, 0.6rem + 1vw, 1.5rem) / 4);
  text-align: right;
}
.calculator #form fieldset input[type=number]::-moz-placeholder {
  color: hsl(184, 14%, 56%);
}
.calculator #form fieldset input[type=number]::placeholder {
  color: hsl(184, 14%, 56%);
}
.calculator #form fieldset.tip-selector .tip-selector__grid {
  margin-top: clamp(1rem, 0.6rem + 1vw, 1.5rem);
}
.calculator #form fieldset.tip-selector .tip-selector__grid .tip-selector__tip {
  background: hsl(183, 100%, 15%);
  color: white;
}
.calculator #form fieldset.tip-selector .tip-selector__grid .tip-selector__tip:hover {
  background: hsl(172, 67%, 45%);
}
.calculator .display {
  background: hsl(183, 100%, 15%);
  color: white;
}
.calculator .display .display__wrapper {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0;
}
.calculator .display .display__wrapper .display__text h5 {
  font-size: clamp(0.5rem, 0.6rem + 1vw, 1rem);
}
.calculator .display .display__wrapper .display__text p {
  font-size: 0.8rem;
  color: hsl(184, 14%, 56%);
}
.calculator .display .display__wrapper #tip-amount,
.calculator .display .display__wrapper #total-amount {
  color: hsl(172, 67%, 45%);
  text-align: right;
}
.calculator .display button {
  background: hsl(172, 67%, 45%);
  text-transform: uppercase;
}

.calculator #form .tip-selector .tip-selector__grid .tip-selector__tip[data-state=selected] {
  background: hsl(172, 67%, 45%);
}/*# sourceMappingURL=style.css.map */