@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

body {
  background: hsl(185, 41%, 84%);
  margin: 0;
  font-family: "Space Mono", monospace;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

input {
  outline: none;
  border: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: none;
}
body .calculator {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}
body .calculator #form .input-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: none;
}
body .calculator #form .tip-selector {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: none;
}
body .calculator #form .tip-selector .tip-selector__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
  grid-auto-rows: 1fr;
  gap: 0.75rem;
}
body .calculator .display {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: none;
}
body .calculator .display .display__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: none;
}

.flow > * + * {
  margin-top: 2rem;
}

.wrapper {
  padding: 2rem;
  border-radius: 25px;
}

.btn {
  padding: 0.5rem;
  font-size: 1.5rem;
  outline: none;
  border: none;
  width: 100%;
}

.calculator {
  background: white;
}
.calculator #form {
  color: hsl(186, 14%, 43%);
  font-weight: 600;
}
.calculator #form fieldset:has(> #bill) {
  position: relative;
}
.calculator #form fieldset:has(> #bill)::after {
  content: url("../images/icon-dollar.svg");
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}
.calculator #form fieldset:has(> #people) {
  position: relative;
}
.calculator #form fieldset:has(> #people)::after {
  content: url("../images/icon-person.svg");
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}
.calculator #form input[type=number] {
  background: hsl(189, 41%, 97%);
  font-size: 1.5rem;
  color: hsl(184, 14%, 56%);
  padding: 1rem;
  text-align: right;
}
.calculator #form label,
.calculator #form legend {
  margin-bottom: 0.5rem;
}
.calculator #form .tip-selector__tip {
  background-color: hsl(183, 100%, 15%);
  color: white;
}
.calculator #form #custom-tip::-moz-placeholder {
  color: hsl(186, 14%, 43%);
  font-weight: 700;
  text-align: center;
}
.calculator #form #custom-tip::placeholder {
  color: hsl(186, 14%, 43%);
  font-weight: 700;
  text-align: center;
}
.calculator .display {
  background: hsl(183, 100%, 15%);
}/*# sourceMappingURL=style.css.map */